@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

/*
*  CSS Reset by Josh Comeau.
*
*  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    --main-color: #060606;
    --lighter-black: #101010;
    --offset-black: rgb(41, 41, 41);
    --frame-outline-color: rgb(59, 59, 59);
    --side-button-color: rgb(244, 153, 6);
    --button-color: rgb(49, 49, 49);
    --top-button-color: rgb(160, 160, 160);
    --camera-reflex-color: rgb(95, 95, 252);
    --gradient-color-1: #464191;
    --gradient-color-2: #070522;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(
        135deg,
        var(--gradient-color-2),
        var(--gradient-color-1),
        var(--gradient-color-2) 
    );
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.frame {
    background-color: slategray;
    border-radius: 50px;
    border: 2px solid silver;
    outline: 2px solid var(--frame-outline-color);
    padding: 2px;
    min-width: 340px;
    animation: frame-popin 1.5s 1;
}

@keyframes frame-popin {
    from {
        transform: translateY(-125px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.calculator {
    background-color: var(--main-color);
    border: 0.6rem solid black;
    border-radius: 50px;
    color: white;
    padding: 1.2rem 1.2rem 3rem;
    position: relative;
}

.ear-piece {
    background-color: var(--lighter-black);
    position: absolute;
    border-radius: 0 0 15px 15px;
    border: 2px solid var(--offset-black);
    width: 25%;
    height: 8px;
    top: -9.2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.top-component {
    background-color: black;
    position: absolute;
    border-radius: 0 0 15px 15px;
    border: 1px solid var(--offset-black);
    border-top-color: inherit;
    width: 50%;
    height: 25px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.time,
.hud {
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
}

.time {
    left: -40%;
    top: 8px;
}

.hud {
    right: -38%;
    top: 5px;
}

.camera {
    position: absolute;
    border-radius: 50%;
    background-color: var(--lighter-black);
    height: 16px;
    width: 16px;
    left: 10px;
}

.camera::before {
    content: '';
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
}

.camera::after {
    content: '';
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: linear-gradient(
        135deg,
        var(--camera-reflex-color) 8%,
        transparent,
        var(--camera-reflex-color) 90%
    );
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 2;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 3rem;
    height: 230px;
    padding: 0 10px;
    max-width: 17.1875rem;
    overflow: hidden;
}

.current {
    flex-grow: 0;
}

.previous,
.operation {
    font-size: 1.5rem;
}

.buttons {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    background-color: var(--button-color);
    border: 2px solid transparent;
    border-radius: 50%;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 8px 10px;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    transition: border-color .3s ease;
}

.buttons button:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
    z-index: 2;
}

.buttons button:active {
    border-color: var(--gradient-color-1);
}

.buttons button:focus-visible {
    outline : none;
}

button.top {
    background-color: var(--top-button-color);
    color: var(--main-color);
}

button.side {
    background-color: var(--side-button-color);
}

button.zero {
    border-radius: 50px;
    grid-column: span 2;
    padding-left: 20px;
    text-align: left;
}

.bottom-line {
    position: absolute;
    height: 5px;
    border-radius: 10px;
    width: 35%;
    background-color: white;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}
